/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #049df0;
  --tertiary-color: #303333;
  --highlight-color: yellow;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}

section {
  padding: 40px;
}

.flex-row {
  display: flex;
}

/* header and navigation styles*/
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position:sticky;
  top: 0;
  background-image: url('../images/animated-bg.gif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* hero style */
.hero {
  background-image: url('../images/animated-bg.gif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero-pic {
  border-radius: 50%;
}

/* intro styling */

.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.intro p {
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

/* projects styling */

.project-poster {
	overflow: hidden;
}

.project-featured .highlight{
  color: var(--highlight-color);
}

.project-featured {
  margin: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
  flex: 1;
}

.project-featured img {
  max-width: 100%;
  transition: all 0.2s;
  display: block;
  width: 100%;
  height: auto;
  filter: brightness(85%);
  transition: all 0.3s;
}

.project-featured:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
}

.projectgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.project {
  margin: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
  flex: 1 40%;
  padding: 15px;
}

.project img {
  max-width: 100%;
  transition: all 0.2s;
  display: block;
  width: 100%;
  height: auto;
  filter: brightness(85%);
}

.project:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
}

.project-content {
  padding: 25px;
  line-height: 1.3;
}

.project-content h3 {
  font-size: 28px;
}

.project-content h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.project-content p {
  font-size: 16px;
}

.project-content a {
  color: var(--primary-color);
  text-decoration: none;
}

.project-content:hover a {
  text-decoration: underline;
  color: var(--primary-color);
}

.project-content:visited a {
  text-decoration: none;
  color: inherit;
}

/* Contact Styles */
.contact {
  background: var(--secondary-color);
}

.contact h2 {
  color: var(--primary-color);
}

.contact-methods {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.contact-methods i {
  color:rgba(0, 0, 0, 0.5);
}

.contact-methods ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 25px;
  color: var(--primary-color);
  font-size: 20px;
}

.contact-methods ul li a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 0 25px 0 5px;
}

.contact-methods ul li a:hover {
  text-decoration: underline;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .section-title {
    width: 80%;
  }
  
  .project {
    flex: 0 50%;
  }

  .project-content {
    padding: 15px;
  }
  
  .projectgrid {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .project-plain {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .project-poster {
    flex: 0 35%;
  }

  .project img {
    transform: scale(4);
  }

  .project-content {
    flex: 0 65%;
    vertical-align: text-top;
  }

  .contact-methods ul {
    font-size: 18px;
    flex: 0 50%;
  }

  .contact-methods ul li {
    padding-bottom: 15px;
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  section {
    padding: 30px 15px;
  }

  .contact-methods ul {
    font-size: 16px;
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  header h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  header nav ul li a {
    font-size: 16px;
  }

  .hero-pic {
    max-width: 150px;
  }

  .intro p {
    width: 80%;
    font-size: 14px;
  }

  .section-title {
    width: 95%;
    font-size: 30px;
    color: var(--secondary-color);
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto 5px auto;
  }  

  .project {
    flex: 0 50%;
    justify-content: space-between;

  }

  .project-description p {
    font-size: 14px;
  }

  .project-description h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .project-description h4 {
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 15px;
  }




}

/* REACH OUT STYLES END */
